body {
  background-color: #f9d627;
  font-family: NeutraText, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.cba-header {
  display: flex;
  margin: 0 auto;
}

.cba-header__title {
  font-weight: 400;
  font-size: 46px;
  padding: 38px 0 0 10px;
  margin: 0;
}

.cba-header__logo {
  height: 106px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#cuerpo {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 97, 9, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.clearfix {
  clear: both;
  float: none;
}

.contenedor {
  width: 85%;
  margin: 0px auto;
}

#encabezado {
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  padding: 15px;
  background-color: black;
}

#logo {
  float: left;
}

#logo h1 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 200;
}

#menu {
  width: 400px;
  float: right;
}

#menu ul li {
  list-style: none;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}



#menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#menu ul li a:hover {
  color: white;
  font-size: 25px;
}

#slide {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  height: 300px;
  width: 100%;
}

#slide h1 {
  font-size: 40px;
  color: white;
  font-weight: 400;
  text-align: center;
  line-height: 290px;
}


.subheader {
  height: 150px;
  border-bottom: 1px solid rgb(81, 131, 197);
  text-align: center;
}

.subheader h2 {
  font-size: 50px;
  font-weight: 200;
  line-height: 140px;
  color: black;
}

.formaServicios {
  width: 30%;
  height: 300px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid rgb(226, 221, 221);
  float: left;
  background-color: rgba(231, 230, 230, 0.235);
  text-align: center;
  box-shadow: 5px 10px rgb(233, 228, 228);
}

.formaServicios img {
  height: 120px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.formaServicios h2 {
  margin-bottom: 10px;
  color: rgb(81, 131, 197);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.formaServicios p {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.forma {
  width: 30%;
  height: 500px;
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  border: 1px solid rgb(226, 221, 221);
  float: left;
  background-color: rgba(231, 230, 230, 0.235);
  text-align: center;
  box-shadow: 5px 10px rgb(233, 228, 228);
}

.forma h2 {
  margin-bottom: 10px;
  color: rgb(9, 31, 59);
}

.forma p {
  color: #444;
}

#pie {
  padding-top: 5px;
  padding-bottom: 40px;
  margin-top: 30px;
  text-align: center;
  color: white;
}

#pie .subheader {
  color: white;
}

#pie ul {
  margin: 0px auto;
  width: 220px;
  display: block;
  list-style: none;
  margin-bottom: 20px
}

#pie li {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

#pie .subheader h2 {
  color: white;
}

#pie p {
  margin-top: 5px;
}

#pie li:hover {
  opacity: 0.8;
  transform: scale(1.2, 1.2);
}


@media(max-width:1200px) {
  #logo {
      width: 40%;
  }
}

@media(max-width:844px) {
  #logo {
      width: 100%;
      text-align: center;
  }

  #menu {
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      align-self: center;
  }
}

@media(max-width:705px) {
  #slide h1{
      font-size: 30px;
      color:white;
      font-weight: 200;
      text-align: center;
      line-height: 290px;   
  }
}

@media(max-width:522px) {
  #slide h1{
      font-size: 18px;
      color:white;
      font-weight: 200;
      text-align: center;
      line-height: 290px;   
  }

  #logo h1 {
      color: rgb(0, 0, 0);
      font-size: 25px;
      font-weight: 200;
      margin-bottom: 10px;
  }

  #menu ul li a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 15px;
  }
  
  #menu ul li a:hover {
      color: black;
      font-size: 18px;
  }

  .subheader h2 {
      font-size: 35px;
      font-weight: bold;
      line-height: 140px;
      color: black;
  }
}

@media(max-width:375px) {
  #slide h1{
      font-size: 10px;
      color:white;
      font-weight: 200;
      text-align: center;
      line-height: 290px;   
  }

  #logo h1 {
      color: rgb(0, 0, 0);
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
  }

  #menu ul li a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 13px;
  }
  
  #menu ul li a:hover {
      color: black;
      font-size: 18px;
  }
}

@media(max-width:1472px) {

  .formaServicios {
      width: 100%;
  }

  .forma {
      width: 100%;
  }
}

@media(max-width:347px) {

  #menu ul li a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 8px;
  }
  
  #menu ul li a:hover {
      color: black;
      font-size: 9px;
  }

  .formaServicios {
      width: 100%;
      height: auto;
  }

  .forma {
      width: 90%;
      height: auto;
  }
}